@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap");

.navmenu {
  
  width: 100% !important;
  
  box-shadow: 0px 0px 0px 0px rgb(255, 255, 255) !important;
  margin: 0px !important;
}

.nav {

  transition: all 0.1s linear !important;
  position: fixed !important;
  z-index: 2000 !important;
  width: 100% !important;
  margin: 0px !important;
}

.scrollNav {
  display: flex;
  transition: all 0.5s ease-in;
  z-index: 2000;
  position: fixed;
  background: #ffffff !important;
  width: 100%;
  border-bottom: 1px solid #dddddd;
  margin: 0px !important;
}

.menuButton {
  padding-top: 17px !important;
  padding-bottom: 0px !important;
  height: 50px;
  font-family: "Roboto Condensed", sans-serif;
  color: rgb(44, 34, 26);
}

.menuButton:hover {
  border-bottom: 3px solid #F57333;
  transform: color rgb(44, 34, 26);
  transition: all 0.1s linear;
}

.navcollapse {


}
